
<nav>
    <img src="../assets/brand/OSC Logo.svg" alt="" class="p-4 md:p-8">
</nav>
<div class="content w-3/4 p-4 md:p-8">
    <h2 class=" text-left text-white mt-72 font-bold  text-5xl w-2/4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, nobis!
    </h2>
    <p class="text-white text-lg my-4"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni impedit praesentium id consequatur eligendi
        consectetur nihil. Accusamus facilis voluptate rem quam labore temporibus, recusandae quasi quaerat blanditiis
        maiores nulla illo voluptas sed molestias adipisci minima excepturi vero tenetur asperiores! Dolorum.</p>
</div>