/* You can add global styles to this file, and also import other style files */


@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    padding: 0px;
    margin: 0px;
font-family: 'Karla', sans-serif;

}


body{
    background-image:url("/assets/images/landing-image.png")  ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    //width: 100vw;
  height: 100vh;
}

p{
    font-family: 'Inconsolata', monospace;
}


@media only screen and (max-width: 600px) {
    body {
        background-image:url("/assets/images/landing-image.png")  ;
        background-position: right;
        background-repeat: no-repeat;
        background-size:cover;
    }
  }